<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <%- include ../inc/materialize.ejs%>
</head>
<body>
<%- include ../inc/adminbegin.ejs%>

<div class="panel panel-primary">

</div>

</body>
</html>