<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notes</title>
    <%- include ../inc/materialize.ejs%>
    <style>
        #div1{
           overflow: hidden;
        }
    </style>
</head>
<body>
<%- include ../inc/adminbegin.ejs%>
<div class="panel panel-primary">
    <div class="panel-heading"><i class="material-icons left"><%= $_$.info.icon%></i> <%= $_$.info.name%></div>
    <div class="col s12">
        <ul class="tabs">
            <!--<li class="tab col s2"><a class="active" href="#test1">测试 1</a></li>-->
            <li class="tab col s2"><a class="active" href="#tab1" data-toggle="tab"> 新增笔记 </a></li>
            <li class="tab col s2"><a class="" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> 修改笔记 </a></li>
        </ul>
    </div>

</div>



<div class="panel-bordy">
    <div class="tab-pane fade" id="tab1">
        <button class="btn btn-primary btn-iframe btn-load" data-src="/admin/notes_index" type="button"><span
                    class="glyphicon glyphicon-search"></span> 查看/刷新1
        </button>
    </div>

    <div class="tab-pane fade" id="tab2">
        <button class="btn btn-primary btn-iframe btn-load" data-src="tag_log" type="button"><span
                    class="glyphicon glyphicon-search"></span> 查看/刷新2
        </button>
    </div>
</div>


<!--<div id="test1" class="col s12" style="padding: 0 15px">-->
    <!--<div id="div1"></div>-->
<!--</div>-->
</body>
<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
    $$.btnFrame('.btn-iframe');
    $$.tabBtnLoad();
</script>
</html>