<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <%- include inc/materialize.ejs%>
    <style>
        #modal1{
            height: 500px;
        }
        *{
            outline: 0;
        }
    </style>
</head>
<body>
<%- include inc/header_nav.ejs%>


</body>



</html>
